
body {
    background:url(grid.png);
}

h1 {
    border-bottom: dotted 1px gray;
    text-align: center;
    padding-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

table {
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
    height: 400px;
}

td {
    width: 50%;
    position: relative;
}
/*
td.left_column {
    padding-right: 20px;
}

td.rigth_column {
    padding-left: 20px;
}
*/
div.photo_frame {
    width: 390px;
    height: 530px;
    margin: 20px;
    display: block;
    background-color: #346FB5;
    z-index: 20;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

img.photo_view {
    width: 100%;
    height: 100%;
    margin: auto;
}

div.photo_info {
    display: none;
    opacity: .8;
    bottom: 21px;
    left: 21px;
    width: 380px;
    height: 50px;
    position: absolute;
    background: rgba(0, 0, 0, .9);
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    color: snow;
    padding-left: 10px;
    padding-top: 5px;
    font-variant: small-caps;
    font-size: 20px;
    font-family: 'PT Sans', 'DejaVu Sans', 'Trebuchet MS',
                  Arial, Helvetica, sans-serif;
}

div.voted {
    display: block;
    background: url(thumbs_up.png) no-repeat;
    position: absolute;
    width: 128px;
    height: 128px;
    right: 0px;
    bottom: 0px;
    display: none;
    opacity: .6;
}

